@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Lato', sans-serif;
}
img{}
.container{
  width:1100px;
  margin:auto;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.col{
  width: 33.33%;
  flex:0 0 auto;
  padding: 15px;
}
.align-center{
  align-items: center;
}
h2{
  font-size: 40px;
  color: #333366;
  font-weight: 500;
}
h3{
  font-size: 22px;
  color: #333366;
  margin: 22px 0;
}
p{
  font-size: 15px;
  color: #999999;
  line-height:1.5; 
}

/********header**********/
header{
  background:#f9f9f9;
  padding: 25px 0;
  position: relative;
  z-index: 0;
}
.logo{
  width: 20%;
  flex:0 0 auto;
}
.logo a{}
.logo a img{}
nav{
   width: 80%;
  flex:0 0 auto;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  font-size: 16px;
  color: #333366;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  display: block;
  padding: 15px 24px;
  transition-duration: 0.3s;
  position: relative;
}
nav ul li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #15a4fa;
  z-index: -1;
  transition: all 0.3s;
  transform: scale(0);
}

nav ul li a:hover::after{
 transform: scale(1);
}

nav ul li a:hover{
  color: #15a4fa;
}


/********banner*********/
.banner-section{
  position: relative;
}
.banner-section img{
  width:100%;
}
.arrow{
  position: absolute;
  bottom: 100px;
  left: 50%;
  font-size: 20px;
  color: #fff;
  transform: translateX(-50%);
}
.banner-content{
  position: absolute;
  top:50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  max-width: 600px;
}
.banner-content h1{
  font-size: 120px;
  color: #fff;
  font-weight: 700;
}
.banner-content span{
  height: 2px;
  width: 100%;
  background:#15a4fa;
  display: block;
  margin: 30px 0;
}
.banner-content p{
  font-size: 20px;
  color: #fff;
}
.btn{
  font-size: 18px;
  border: 1px solid #15a4fa;
  display: inline-block;
  padding: 15px 38px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 65px;
  transition-duration: 0.3s;
}
.btn:hover{
  background-color: #15a4fa;
}

/********about*********/
.aboutus-section{
  background: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}
.aboutus-section p{
  font-size: 20px;
  color: #999999;
  margin: 25px;
  line-height: 1.7;
}


/********feature*********/
.feature-section{
  padding: 30px 0;
}
.feature{
  padding: 50px 30px;
  text-align: center;
}
.feature span{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  line-height: 100px;
  color: #fff;
  font-size: 45px;
  background: linear-gradient(90deg, rgba(72,186,255,1) 50%, rgba(95,195,255,1) 50%); 
  border-radius: 5px;
  text-shadow: 2px 2px 0px #33333369: 
}
.feature span i{}

/********showcase*********/
.showcase-section{
  text-align: center;
  padding: 80px 0;
  background: #f9f9f9;
}
.showcase{
  position: relative;
}
.showcase img{
  width:100%;
 }
.showcase .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: #15a4fae6;
    transition-duration: 0.2s;
}
.showcase:hover .overlay{
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  }
.showcase ul{
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%, -70%);
  display: flex;
  opacity: 0;
  transition-duration: 0.4s;
}
.showcase:hover ul{
  top:50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.showcase ul li{
  list-style: none;
  padding: 5px;
}
.showcase ul li a{
  font-style: 15px;
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border:1px solid;
  border-radius: 5px;

}
.showcase ul li a:hover{}

/********contact*********/
.contact-section{
  background-image: url(../images/contact.png);
  padding: 75px 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-section .overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: hsl(219 28% 25% / 0.9);
}
.contact-section .container{
  position: relative;
}
.contact-form{
  width: 50%;
  flex: 0 0 auto;
  text-align: center;
}
.contact-form h2{
  color: #fff;
}
.contact-form form{
  margin-top:45px;
}
.contact-form form input{
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #999999;
  margin-bottom: 15px;
  font-size: 15px;
  color: #fff;
}
.contact-form form textarea{
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #999999;
  margin-bottom: 15px;
  font-size: 15px;
  color: #fff;
}
textarea, input:focus{
  outline: 0;
}
.contact-form form ul{
  display: flex;
  justify-content: space-between;
}
.contact-form form ul li{
  list-style: none;
}
.contact-form form ul li input{
  width: auto;
  margin-bottom: 0;
}
.contact-form form ul li label{
  font-size: 15px;
  color: #fff;
  padding-left: 10px; 
}
.contact-form form ul li input[type="submit"]{
  font-size: 18px;
  border: 1px solid #15a4fa;
  display: inline-block;
  padding: 8px 38px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.3s;
   
}
.contact-form form ul li input[type="submit"]:hover{
  background-color: #15a4fa;
  cursor: pointer;
}

/********footer*********/
footer{
  padding: 20px 0;
}
.copyright{
  width: 50%;
  flex:0 0 auto;
}
.copyright p{}
.social{
  width: 50%;
  flex:0 0 auto;
}
.social ul{
  display: flex;
  justify-content: flex-end;
}
.social ul li{
  list-style: none;
  padding: 5px;
}
.social ul li a{
  font-size: 15px;
  background:#15a4fa;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border:1px solid;
  border-radius: 5px;
  color:#fff;
  text-align: center;
  transition-duration: 0.2s;
  position: relative;

}
.social ul li a:hover{
   background:transparent;
   color: #15a4fa;
}

.social ul li a::before{
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color:#15a4fa;
  right:-7px;
  top:0; 
  transform: scaleY(0.5);
}
.social ul li:last-child a::before{
  width: 0;
}
.arrow-top{
  color: #fff;
  background-color: #15a4fa;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;


}